section{
    background-color: white;
    padding: 2px;
    margin: 16px 0;
    border: 1px solid l#ccc;
    border-radius:11px;
  
  
}

body{
    background-image: url("images/Screenshot (274).png");
}

.listings{
    font-size: 16px;
    margin-top: 13px;
    margin-right: 347px;
    box-shadow: rgba(216, 91, 18, 0.87) 5px 5px, rgba(236, 131, 45, 0.616) 10px 10px, rgba(241, 129, 1, 0.842) 15px 15px;
          margin-left: 359px;
   
}

ul{
    font-family: system-ui;
}

h1{
    padding-left: 12px;
    font-family: monospace;
   
}

p{
    padding-left:12px;
    font-family: system-ui;
    margin-top: 0.5rem;
    text-align: justify;
    padding-right: 8px;
}



