body{
    background-color: #eee;
    
}

section{
    
        background: #fff;
        flex-basis: 20%;
        left: 220px;
        height: 50vh;
        margin-left: 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        padding-left: 5px;
        padding-top: -15px;
        margin-top: 128px;
        border-radius: 30px;
        margin-right: 398px;
        margin-left: 434px;
        
    

}



h1{
    font-size: 20px;
    padding-top:16px;
    padding-left: 20px;
    font-family:'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.712);
    
}
 span{
    
    color: #ff9700;
 }
 button{
    
        border-radius: 5px;
        border: solid 0px;
        background-color: bisque;
        margin-left: 310px;
    
 }

 hr {
  border-top: 0px solid;
  margin-right: 6px;
  box-shadow: rgba(0, 0, 0, 0.137) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

h2{
    font-size: 20px;
    padding-top:100px;
    padding-left: 290px;
    font-family:'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.712);
}

p{
    font-size: 11px;
    padding-top: 1px;
    padding-left: 233px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.712);
}